*, *::before, *::after{
  box-sizing: border-box;
}

:root{
  --cor-fundo: #F3F4F4;
  --cor-texto: #061E29;
  --cor-acao: #1d546d;
  --cor-detalhes: #5f9598;
}

body{
  margin: 0;
  font-family: "IBM Plex Sans", system-ui, sans-serif;
  background: var(--cor-fundo);
  color: var(--cor-texto);
}